table, th, td {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    color: inherit;
    font-size: inherit;
    text-align: inherit;
}

.table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    max-width: 100%;
    background-color: transparent;
}

.table th, .table td {
    border-top: none;
    padding: 0; 
    background-color: transparent;
}

.gris{
    background-color: #e01a1a ;
    font-weight: 800;
}

.vert{
    background-color: green;
}